* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2.2em;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #444;
}

.book-form, .book-filter {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"], select {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

button {

    font-size: 1em;
    background-color: #5cb85c;
    padding: 6px;
    margin: 5px 0;
    color: white;
    border-width: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-color: #5cb85c;
    font-weight: bold;
    text-align: center;
}

button:hover {
    background-color: #4cae4c;
}

.book-list ul {
    list-style-type: none;
    padding: 0;
}

.book-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 8px;
    background-color: #f0f0f0;
    border-radius: 4px;
}

.book-item .book-details {
    display: flex;
    flex-direction: column;
}

.book-item .book-details span {
    font-size: 0.9em;
    color: #555;
}

.book-item button {
    display: flex;
}

.book-item__edit {
    background-color: #5cb85c;
    width: 100%;
    padding: 6px;
    margin: 5px 0;
    text-align: left;
    border-width: 5px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    color: white;
    font-weight: bold;
    border-color: #5cb85c;
}

.book-item__edit:hover {
    background-color:  #4cae4c;
}

.book-item__delete {
    background-color: #d9534f;
    width: 100%;
    padding: 6px;
    margin: 5px 0;
    text-align: left;
    border-width: 5px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    color: white;
    font-weight: bold;
    border-color: #d9534f;
}

.book-item__delete:hover {
    background-color: #c9302c;
}

@media (max-width: 600px) {
    .container {
        padding: 10px;
    }

    h1 {
        font-size: 1.8em;
    }

    h2 {
        font-size: 1.2em;
    }

    button {
        font-size: 0.9em;
    }
}
