* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    background-color: #ecf0f3;
    text-align: left;
    padding: 20px;
}
.container {
    padding: 15px;
    margin: auto;
    background: #ffffff;
}
.header {
    border-radius: 10px;
    background-color: #3b82f6;
    color: white;
    padding: 15px;
    font-size: 24px;
    font-weight: bold;
}
.section-title {
    font-size: 1.5em;
    font-weight: bold;
    color: #555;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
    margin-bottom: 10px;
    
}
.task-input-container {
    margin: 20px 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 500px;
}
.task-input {
    padding: 10px;

    border: 1px solid #ccc;
    border-radius: 5px;
}
.add-task-btn {
    padding: 10px 15px;
    background-color: #3b82f6;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 100px;
}
.task-board {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}
.column {
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    width: 500px;
    min-height: 250px;
}
h2 {
    font-size: 1.5em;
    font-weight: bold;
    color: #555;
    border-bottom: 2px solid white;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.backlog h2 { color: #bfbfbf; border-bottom: 2px solid #bfbfbf; }
.in-progress h2 { color: #93c5fd; border-bottom: 2px solid #93c5fd; }
.done h2 { color: #bbf7d0; border-bottom: 2px solid #bbf7d0; }
.trash h2 { color: #fecaca; border-bottom: 2px solid #fecaca; }
.task {
    border-left: 5px solid white;
    background-color: white;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    cursor: grab;
}
.clear-btn {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #d9534f;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
